.hero-section2 {
  background-image: url('../../images/Banner 2.png');
  background-size: cover; /* Ensures the image covers the entire section */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the section */
  width: 100%; /* Full width */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Removes any margin */
  padding: 0; /* Removes any padding */
}
